<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579498844090-bcmp82893e3nqefti1j4pdk0g9589fn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579498844090-bcmp82893e3nqefti1j4pdk0g9589fn5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGFdYYNLnRpEdNS1mE4UTAk6-LnmGvwIE</string>
	<key>GCM_SENDER_ID</key>
	<string>579498844090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication</string>
	<key>PROJECT_ID</key>
	<string>chat-application-da714</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-da714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579498844090:ios:787ef89c96c5d475648783</string>
	<key>DATABASE_URL</key>
	<string>https://chat-application-da714-default-rtdb.firebaseio.com</string>
</dict>
</plist>